@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
  font-family: "Menomonia";
  src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot");
  src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot?#iefix") format("embedded-opentype"),
      url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.woff") format("woff"),
      url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.ttf") format("truetype"),
      url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.svg#MenomoniaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: "Menomonia";
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.menuButton{
  border-radius: 0px !important;
  border-bottom-right-radius: 15px !important;
  border-top-right-radius: 15px !important;
  opacity: 0.8 !important;
  margin-bottom: 15px !important;
  transition: 0.3s !important;
}

.menuButton:hover{
 transform: scale(1.5);
}

 

.App-header {
  /* background-color: #282c34; */
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* BOARD WORLDBOSSES */

.worldbosses{
  width: 100%;
  display: flex;
  justify-content: center;
  max-height: 80vh;
  overflow-y: auto;
}

.bossesPicture{
  width: 28px;
  height: 28px;
}

.table-border{
  border: 1px solid #ddd;
}

@media screen and (min-width: 621px) {
  #output{
    width: 50vw;
    max-width: 800px;
    min-width: 500px;
    padding: 15px;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-weight: bold;
    border-radius: 15px;
  } 
}

@media screen and (max-width: 620px) {
  #output{
    width: 95%;
    padding: 15px;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    font-size: x-small;
  } 
}

.cell{
  text-align: left;
  padding: 3px;
}

.bossname_title, .time_title{
  font-size: 20px;
}

.flex-picture{
  display: flex;
}

.flex-picture > img{
  margin-right: 8px;
}


.inprogress{
  background-color: #C0392B;
  color: white;
}

#output .remaining {
  color: #30a0ea;
}


#output .timestamp {
  color: #aa2b2b;
}


.table-bordered>tbody>tr>td{
  border-bottom: 1px solid #ddd;
  padding: 10px;
}



::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
	background-color: white;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color:white;
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, 0.8);

}

.valid_form{
  display: flex;
  justify-content: end;
}

form input{
  width: 100%;
}


.input_error{
  color: #aa2b2b;
}


.zoom {

  animation: zoom 0.8s linear;
  animation-iteration-count: 2; 
}


@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}


input{
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

input::placeholder {
  color: #ccc;
}

input:focus{
  outline: 1px solid;
  outline-color: #1da1f2;
}

.modalButton{
  border: 1px solid #333333 !important;
  color: #333333 !important;
  padding: 5px !important;
  margin-right: 5px !important;
  margin-top: 15px !important;
  transition: 0.3s !important;
}


.modalButton:hover{
  background: #333333 !important;
  color: white !important;
}

.actuel_key{
  margin-bottom: 10px;
}


.loader {
  position: absolute;
  /* right: 50%; */
  right: calc(50% - 36px);
  top: 45%;
  height: 50px !important;
  width: 50px !important;
}


.charactersSection{
  display: flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#characters{
  /* margin-top: 60px; */
  max-height: 90vh;
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.4s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
  25% {
		opacity: 0.25;
	}
  50% {
		opacity: 0.5;
	}
  75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (min-width: 621px) {
  .characterForm{
    border-radius: 10px;
    /* min-height: 500px; */
    width: 500px;
    padding: 20px 20px 20px 20px;
    /* border-radius: 10px; */
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.5s ease;
    font-family: 'cronos';
  }
}

@media screen and (max-width: 620px) {
  .characterForm{
    border-radius: 10px;
    /* min-height: 500px; */
    width: 100%;
    padding: 20px 20px 20px 20px;
    /* border-radius: 10px; */
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.5s ease;
    font-family: 'cronos';
  }
}

.characterForm:hover{
  -webkit-transform:scale(1.10); /* Safari et Chrome */
  -moz-transform:scale(1.10); /* Firefox */
  -ms-transform:scale(1.10); /* Internet Explorer 9 */
  -o-transform:scale(1.10); /* Opera */
  transform:scale(1.10);
  cursor: pointer;
}

.characterForm div{
  /* background-color: grey; */
  color: white;
  /* height: 100%;aster
  width: 100%; */
  padding: 10px;
}

#Necromancer{
  background-color: rgba(1,59,1,0.8);
}

#Guardian{
  background-color: rgba(77,135,149,0.8);
}

#Elementalist{
  background-color: rgba(161,108,118,0.8);
}

#Mesmer{
  background-color: rgba(219,151,226,0.8);
}

#Ranger{
  background-color: rgba(111,150,60,0.8);
}

#Thief{
  background-color: rgba(37,35,38,0.8);
}

#Revenant{
  background-color: rgba(35,56,61,0.8);
}

#Warrior{
  background-color: rgba(123,76,32,0.8);
}


.picture{
  height: 100px;
}


.name{
  font-size: 1rem;
}

.nameAndProfession{
  display: flex;
  justify-content: space-between;
  padding-top: 0px !important;
  font-size: 20px;
}

.craftList{
  display: flex;
  flex-wrap: wrap;
}

.crafting{
  font-size: 15px;
}

.crafting img{
  width: 20px;
}
.crafting span{
  margin-left: 5px;
}

.craftListActive{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.need_api_key{
  width: 100%;
  color: rgb(198, 46, 45);
  animation: information 0.4s linear;
  animation-iteration-count: 1; 
}

@keyframes information {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(0.75);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.things > .content {
  float: left;
  width: 50%;
  height: 500px;
  -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
  position: relative;
}

.things > .content span {
  width: 100px;
  top: 0;
  bottom: 500px;
  left: -37px;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150px;
  color: #89323B;
  font-size: 25px;
  font-weight: 700;
  animation: information 0.4s linear;
  animation-iteration-count: 1; 
}

/* Arrow */

.arrow {
	position: relative;
  margin: 0 auto;
  width: 100px;
  animation: information 0.4s linear;
  animation-iteration-count: 1; 
  z-index: 3;

}

.arrow .curve {
  border: 2px solid #89323B;
  border-color: transparent transparent transparent #89323B;
  height: 221px;
  width: 1199px;
  border-radius: 230px 0 0 150px;
  rotate: 6deg;
  position: absolute;
  left: -50px;
}

.arrow .point {
  position: absolute;
  left: -23px;
  top: 140px;
  rotate: -1deg;
}

.arrow .point:before, .arrow .point:after {
	border: 1px solid #89323B;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow .point:before {
	top: -11px;
	left: -11px;
	transform:rotate(-74deg);
	-webkit-transform:rotate(-74deg);
  -moz-transform:rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
	left: 5px;
	transform:rotate(12deg);
	-webkit-transform: rotate(12deg);
  -moz-transform:rotate(12deg);
  -ms-transform: rotate(12deg);
}

.bags_section{
  max-height: 80vh;
  overflow-y: auto;
  width: 95%;
}

.tr_bags{
  display: flex !important;
  flex-wrap: wrap !important;
  margin-left: 5%;
}

.character_name{
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character_name:not(:first-child){
  margin-top: 15vh;
}

.count_item{
  position: relative;
  left: -16px;
  top: -19px;
  color: white;
  font-size: 1.2em;
  text-shadow: 1px 2px 1px black;
}

.image_item{
  width: 50px;
  height: 50px;
}

.tr_bags > td{
  background: #50473D;
  border: 2px solid #635A65;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tr_bags > td:hover{
  cursor: pointer;
}

@media screen and (min-width: 1096px) {

  .table_bags{
    width: 50vw !important;
  }
}


@media screen and (max-width: 1095px) {

  .table_bags{
    width: 85vw !important;
  }
}

@media screen and (max-width: 520px) {
  .tr_bags > td{
    background: #50473D;
    border: 2px solid #635A65;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .count_item{
    position: relative;
    left: -5px;
    top: -7px;
    font-size: 1.1em;
  }

  .table_bags{
    width: 100% !important;
  }

  .MuiTooltip-popper{
    top: -2% !important
  }
}

@media screen and (min-width: 521px) {
  .MuiTooltip-popper{
    top: -3.5% !important;
  }
}

.item_image{
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

@media (min-width: 476px){
  .modal-dialog{
    max-width: 500px !important;
  }
  .css-1ex1afd-MuiTableCell-root{
    padding:25px !important;
  }
  
}

@media (max-width: 475px){
  .modal-dialog{
    width: 100%;
  }
  .css-1ex1afd-MuiTableCell-root{
    padding: 18px !important;
  }
}

.css-rqglhn-MuiTable-root{
  width: auto !important;
}


.modal-body{
  display: flex;
  justify-content: center;
}



.css-1ex1afd-MuiTableCell-root{
  border-bottom: none !important;
} 

.border_equipment{
  border: 2px solid #747372 !important;
}

.modal_character{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: inherit;
  background-position: center;
}

.character_equipment td{
  background-size: contain;
}

.character_equipment .border_equipment:hover{
  cursor: pointer;
}

.clean{
  background: rgba(232, 232, 232, 0.1);
}

.character_equipment_header{
  background-color: #333333 !important;
  color: white !important;
  border-bottom: none !important;
}
.charater_equipement_button{
  margin: 0px !important;
  border-radius: 0px !important;
  background-color: #333333 !important;
  color: white !important;
}

.changeView{
  display: flex;
}

.changeView div:first-child{
  padding-right: 5px;
}


.changeView div svg:hover{
  cursor: pointer;
}

.loading_character_equipment{
  height: 150px;
}