@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@font-face {
  font-family: "Menomonia";
  src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot");
  src: url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.eot?#iefix") format("embedded-opentype"),
      url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.woff") format("woff"),
      url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.ttf") format("truetype"),
      url("https://d1h9a8s8eodvjz.cloudfront.net/fonts/menomonia/08-02-12/font/menomonia.svg#MenomoniaRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

html, body, #root, .App{
  height: 100%;
  width: 100%;
}

.App:has(.wrapper){
  display: flex;
  justify-content: center;
}

*{
  font-family: "Menomonia";
}

html{
  cursor: url('img/icon/cursor.png'), auto;	
}

button:hover{
  cursor: url('img/icon/pointer.png'), auto !important;	
}

#characters{
  /* margin-top: 60px; */
  padding: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  /* max-width: 1300px; */
  animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.4s;
}


.worldbosses{
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}



@media screen and (min-width: 600px) {
  .App {
    text-align: center;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .trading_section{
    padding: 20px;
  }

  .p-paginator {
    padding: 0.5rem 1rem !important;
  }

  .p-paginator-left-content{
    margin-right: auto !important;
  }

  .trading_table{
    width: 90%;
    max-width: 1300px;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.8) !important;
    color: white;
    margin-top: 25px;
  }

  .bank_table{
    margin-top: 25px;
    width: 80%;
    max-width: 900px;
  }
  .bank_table tr{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .buttonWithIcon{
    height: 24px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black !important;
    background-size: cover;
  }
  .App-header {
    /* background-color: #282c34; */
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    z-index: 2;
  }

  .menuButton{
    border-radius: 0px !important;
    border-bottom-right-radius: 15px !important;
    border-top-right-radius: 15px !important;
    opacity: 0.8 !important;
    margin-bottom: 15px !important;
    transition: 0.3s !important;
  }
 
  .menuButton:hover{
   transform: scale(1.5);
  }
  .menuButton svg{
    transform: rotate(0);
  }

  .meta-container {
    overflow: hidden;
    position: relative;
    font-size: 0.90rem;
    padding: 4rem 0 0.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #characters,.worldbosses, .meta-section{
    max-height: 90vh;
  }

  .changeViewButton{
    position: absolute;
    right: 50px;
    bottom: 50px;
  }

  .tyriaArrow{
    position: absolute;
    right: 40px;
    top: -2px;
  }
  
  .desertArrow{
    position: absolute;
    right: -2px;
    top: 40px;
  } 
  
  .canthaArrow{
    position: absolute;
    bottom: -2px;
    left: 40px;
  }
  
  .maguumaArrow{
    position: absolute;
    top: 40px;
    left: -2px;
  }

  .p-column-title{
    display: none;
  }

  .p-column-header-content > .p-column-title{
    display: block;

  }

}

.marginLeft{
  margin-left: 20px;
}

.noMargin{
  margin-left: 0px;
}

@media screen and (max-width: 599px) {

  .trading_table{
    width: 100%;
    max-width: 1300px;
    overflow-y: auto;
    background-color: rgba(0,0,0,0.8) !important;
    color: white;
  }

  .trading_section{
    padding: 0px;
  }

  .p-inputtext{
    width: 80%;
  }

  .pi-search{
    display: none;
  }


  .trading_item{
    width: 81%;
  }
 
  .p-paginator {
    padding: 10px 0px 10px 1rem !important;
  }

  .p-paginator-left-content{
    margin-right: -12px !important;
  }

  .p-paginator-pages{
    min-width: 2rem !important;
  }

  .p-paginator-element{
    min-width: 2rem !important;
    height: 2rem !important;
    font-size: 13px;
   }

   .p-paginator-last, .p-paginator-first{
    margin: 0px !important;
   }

   .p-paginator-current{
    display: none;
   }

   .p-dropdown-label{
    font-size: 13px;
    padding-top: 4px !important;
   }

   .p-paginator .p-dropdown {
    margin-left: 0.5rem;
    height: 2rem;
    width: 4rem;
   }

   .p-dropdown .p-dropdown-trigger{
      width: 2rem;
   }

   .p-dropdown-trigger-icon{
    font-size: 12px;
   }

  .App {
    text-align: center;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column-reverse;
  }
  .App-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    z-index: 2;
    transform: rotate(-90deg);
    position: fixed;
    bottom: 32px;
    height: 0px;
  }

  .App-header  button{
    border: 1px solid white;
  }

  .rdt_TableBody{ 
    height: 43vh !important;
    background-color: rgba(0,0,0,0.8) !important;
  }

  .rdt_Table > div:first-child:not(.rdt_TableHead){
    height: 52vh;
  }
  

  .marginLeft{
    margin-left: 0px;
  }

  .bank_table{
    margin-top: 25px;
    width: 95%;
    max-width: 900px;
    margin-bottom: 7rem;
  }

  .bank_table tr{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  

  .menuButton{
    border-radius: 0px !important;
    opacity: 0.8 !important;
    margin-bottom: 15px !important;
    transition: 0.3s !important;
  }

  .menuButton svg{
    transform: rotate(90deg);
  }


  .meta-container {
    overflow: hidden;
    position: relative;
    font-size: 0.90rem;
    padding: 4rem 0 0.25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #characters,.worldbosses, .meta-section{
    max-height: 100%;
  }

  .meta{
   font-size: 12px;
  }

  .menuIcon{
    font-size: 1.9rem !important;
  }

  .buttonWithIcon{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black !important;
    background-size: cover;
    transform: rotate(90deg);
  }

  .ButtonPng{
    min-height: 42.39px;
  }

  .mapNavigation{
    width: 110px;
    height: 110px;
  }

  .changeViewButton{
    position: absolute;
    right: 10px;
    bottom: 75px;
  }

  .changeViewButton > img:not(:last-child){
    width: 40px;
  }
  .tyriaArrow{
    position: absolute;
    right: 35px;
    top: -1px;
  }
  
  .desertArrow{
    position: absolute;
    right: -1px;
    top: 35px;
  } 
  
  .canthaArrow{
    position: absolute;
    bottom: -1px;
    left: 35px;
  }
  
  .maguumaArrow{
    position: absolute;
    top: 35px;
    left: -1px;
  }

  
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* BOARD WORLDBOSSES */



.bossesPicture{
  width: 28px;
  height: 28px;
}

.table-border{
  border: 1px solid #ddd;
}


#output>:not(caption)>*>*{
  padding: .5rem .5rem;
}


#output tr:hover{
  cursor: url('img/icon/pointer.png'), auto;	
}

#output tr:hover:not(:first-child):not(:last-child){
  background-color: #2C3E50;
}

#output tr:not(:first-child):not(:last-child){
  border: 1px solid grey;
}


@media screen and (min-width: 621px) {
  #output{
    width: 75%;
    max-width: 900px;
    min-width: 500px;
    padding: 15px;
    background-color: black;
    opacity: 0.8;
    color: white;
    font-weight: bold;
    border-radius: 15px;
  } 

  .worldbosses thead{
    border-bottom:1px solid grey;
  }
}

@media screen and (max-width: 620px) {
  #output{
    width: 100%;
    /* background-color: black; */
    background-color: transparent;
    opacity: 0.8;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    /* font-size: 0.8em; */
  } 

  .worldbosses{
    padding: 15px 15px 0px 15px;
  }

  #output {
    border: 0;
  }

  #output > tbody{
    background-color: transparent;
  }

  #output > thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #output tr{
    display: block;
    margin-bottom: 20px;
    /* background-color: black; */
    border-radius: 10px;
  }

  #output tr:has(.bossKilled) {
    background-color: #145A32;
  }

  #output tr:has(> .in_progress) {
    background-color: #C0392B;
  }
  
  #output tr:has(> .remaining) {
    background-color: black;
  }
  

 
  #output td {
    border-bottom: 1px solid #ddd;
    display: block;
    display: flex;
    justify-content: space-between;
  }
  
  #output td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  #output td:last-child {
    border-bottom: 0;
  }
}


.cell{
  text-align: left;
  padding: 3px;
}

.waypointBoss{
  text-align: left;
}

.waypointBoss > span{
  background: rgba(255,255,255,0.5);
  padding: 5px;
  border-radius: 5px;
  color: black;
  transition: 0.2s;
}

.waypointBoss > span:hover{
  background: rgba(255,255,255,0.9);
}

.bossname_title, .time_title{
  font-size: 20px;
}

.flex-picture{
  display: flex;
}

.flex-picture > img{
  margin-right: 8px;
}


.inprogress{
  background-color: #C0392B;
  color: white;
}

#output .remaining {
  color: #30a0ea;
}


#output .timestamp {
  color: #aa2b2b;
}


.table-bordered>tbody>tr>td{
  border-bottom: 1px solid #ddd;
  padding: 10px;
}



::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
	background-color: white;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color:white;
}

::-webkit-scrollbar-thumb
{
	background-color: rgba(0, 0, 0, 0.8);

}

.valid_form{
  display: flex;
  justify-content: end;
}

form input{
  width: 100%;
}


.input_error{
  color: #aa2b2b;
}


.zoom {

  animation: zoom 0.8s linear;
  animation-iteration-count: 2; 
}


@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}


/* input{
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

input::placeholder {
  color: #ccc;
}

input:focus{
  outline: 1px solid;
  outline-color: #1da1f2;
} */

.modalButton{
  border: 1px solid #333333 !important;
  color: #333333 !important;
  padding: 5px !important;
  margin-right: 5px !important;
  margin-top: 15px !important;
  transition: 0.3s !important;
}


.modalButton:hover{
  background: #333333 !important;
  color: white !important;
}

.actuel_key{
  margin-bottom: 10px;
}


.loader {
  position: absolute;
  /* right: 50%; */
  right: 45%;
  top: 45%;
  height: 50px !important;
  width: 50px !important;
  animation: rotate 2s linear infinite;
  font-size: 20px;
}

.changeOrientation {
  position: absolute;
  /* right: 50%; */
  right: calc(50.2% - 36px);
  top: 45%;
  height: 65px !important;
  width: 65px !important;
  animation: rotate 2s linear infinite; 
  font-size: 20px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);

  }
  50% {
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(-45deg);

  }
  100% {
    transform: rotate(0deg);
  }
}



.charactersSection{
  display: flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
  25% {
		opacity: 0.25;
	}
  50% {
		opacity: 0.5;
	}
  75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}

.logoProfession > img{
  width: 96px;
  height: 96px;
}

.logoProfessionModal {
  display: flex;
  justify-content: center;
}

.logoProfessionModal > img{
  width: 32px;
  height: 32px;
}


@media screen and (min-width: 621px) {
  .characterForm{
    display: flex;
    border-radius: 10px;
    /* min-height: 500px; */
    width: 500px;
    padding: 20px 20px 20px 20px;
    /* border-radius: 10px; */
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.5s ease;
    font-family: 'cronos';
  }
}

@media screen and (max-width: 620px) {
  .characterForm{
    display: flex;
    border-radius: 10px;
    /* min-height: 500px; */
    width: 100%;
    padding: 20px 20px 20px 20px;
    /* border-radius: 10px; */
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.5s ease;
    font-family: 'cronos';
  }
}

.characterForm:hover{
  -webkit-transform:scale(1.10); /* Safari et Chrome */
  -moz-transform:scale(1.10); /* Firefox */
  -ms-transform:scale(1.10); /* Internet Explorer 9 */
  -o-transform:scale(1.10); /* Opera */
  transform:scale(1.10);
  cursor: url('img/icon/pointer.png'), auto;	
}

.characterForm div{
  color: white;
}

.detailCharacter{
  margin-left: 20px;
  margin-top: 5px;
}

#Necromancer, .Necromancer{
  background-color: rgba(1,59,1,0.8);
}

.Necromancer:hover{
  background-color: rgba(1,59,1,0.6);
}

#Guardian, .Guardian{
  background-color: rgba(77,135,149,0.8);
}

.Guardian:hover{
  background-color: rgba(77,135,149,0.6);
}

#Elementalist, .Elementalist{
  background-color: rgba(161,108,118,0.8);
}

.Elementalist:hover{
  background-color: rgba(161,108,118,0.6);
}

#Mesmer, .Mesmer{
  background-color: rgba(219,151,226,0.8);
}

.Mesmer:hover{
  background-color: rgba(219,151,226,0.6);
}

#Ranger, .Ranger{
  background-color: rgba(111,150,60,0.8);
}

.Ranger:hover{
  background-color: rgba(111,150,60,0.6);
}

#Thief, .Thief{
  background-color: rgba(192,87,75,0.8);
}

.Thief:hover{
  background-color: rgba(192,87,75,0.6);
}

#Revenant, .Revenant{
  background-color: rgba(114,26,28,0.8);
}

.Revenant:hover{
  background-color: rgba(114,26,28,0.6);
}

#Warrior, .Warrior{
  background-color: rgba(123,76,32,0.8);
}

.Warrior:hover{
  background-color: rgba(123,76,32,0.6);
}

#Engineer, .Engineer{
  background-color: rgba(160, 128, 67, 0.8);
}

.Engineer:hover{
  background-color: rgba(160, 128, 67, 0.6);
}

.picture{
  height: 100px;
}


.name{
  font-size: 1.2rem;
  font-weight: bold;
}

.nameAndProfession{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.craftList{
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-left: -2px;
}

.crafting{
  font-size: 15px;
}

.crafting img{
  width: 20px;
}
.crafting span{
  margin-left: 5px;
  margin-right: 5px;

}

.craftListActive{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.need_api_key{
  width: 100%;
  color: rgb(198, 46, 45);
  animation: information 0.4s linear;
  animation-iteration-count: 1; 
}

@keyframes information {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(0.75);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.things{
  position: absolute;
  right: 15px;
}

.things > .content {
  float: left;
  width: 50%;
  height: 500px;
  -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
  position: relative;
}

.things > .content span {
  width: 100px;
  top: 0;
  bottom: 500px;
  /* left: -37px; */
  right: 0;
  margin: auto;
  position: absolute;
  height: 150px;
  color: #89323B;
  font-size: 25px;
  font-weight: 700;
  animation: information 0.4s linear;
  animation-iteration-count: 1; 
}

/* Arrow */

.tr_bags{
  display: flex !important;
  flex-wrap: wrap !important;
  margin-left: 5%;
}



.count_item{
  position: relative;
  left: 1px;
  top: -4px;
  color: white;
  font-size: 1.2em;
  text-shadow: 1px 2px 1px black;
}

.count_item_bank{
  position: relative;
  left: -11px;
  top: -4px;
  color: white;
  font-size: 1.2em;
  text-shadow: 1px 2px 1px black;
}

.image_item{
  width: 50px;
  height: 50px;
}




@media screen and (max-width: 520px) {
  .count_item{
    position: relative;
    left: 0px;
    top: -7px;
    font-size: 1.1em;
  }


  .MuiTooltip-popper{
    top: -5% !important;
    left: 10% !important;
  }
}

@media screen and (min-width: 521px) {
  .MuiTooltip-popper{
    top: -5% !important;
    left: 5% !important;
    max-width: 150px !important;
  }
}

.item_image{
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}



@media (min-width: 476px){
  .modal-dialog{
    max-width: 500px !important;
  }

  .character_equipment td{
    padding: 27px;
  }

  .row_invetory td{
    background-size: contain;
    background-repeat: no-repeat;
    height: 55px;
    width: 55px;
  }

  .modal_character{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    background-position: center;
    height: 648px;
    /* max-height: 660px; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
  }
  
  .homeModalCharacter .modal-body{
    height: 583px;
  }

}



@media (max-width: 475px){
  .modal-dialog{
    width: 100%;
  }

  .character_equipment td{
    padding: 22px;
  }

  .modalCharacterGeneral{
    z-index: 9999 !important;
  }

  .modalCharacterGeneral .modal-body{
    height: 100%;
    width: 100%;
  }

  .modalCharacterGeneral > .modal-dialog{
    height: 100%;
    padding: 0px;
    margin: 0px;
  }

  .modalCharacterGeneral .modal-content{
    border-radius: 0px;
    height: 100%;
  }

  .modal_character{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    background-position: center;
    height: 100%;
    /* max-height: 660px; */
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
  }
  
  .row_invetory td{
    background-size: contain;
    background-repeat: no-repeat;
    height: 45px;
    width: 45px;
  }

}

.modal-body{
  display: flex;
  justify-content: center;
}

.table_bags, .character_equipment  {
  animation-name: fadeInOpacity;
  /* animation-iteration-count: 1; */
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

.border_equipment{
  border: 2px solid #747372 !important;
}



.modal_character img{
  width: 42px;
}

.showView{
  width: 100%;
  height: 80px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
}

.showView span{
  color: white;
  font-size: 20px;
}

.showView svg{
  color: white;
}

.showView:hover{
  cursor: url('img/icon/pointer.png'), auto;	
}

.showView:first-child{
  margin-top: 15px;
}

.showView:last-child{
  margin-top: 30px;
}

.playtime{
  text-align: left;
  margin-top: 5px;
}

.character_equipment td{
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.character_equipment .border_equipment:hover{
  cursor: url('img/icon/pointer.png'), auto;	
}

.clean{
  background: rgba(232, 232, 232, 0.1);
}

.modal-content:has(.character_equipment_header){
  border: none !important;
}

.character_equipment_header{
  color: white !important;
  display: flex !important;
  justify-content: center !important; 
}

.details{
  display: flex;
  margin-top: 5px;
}

.detailCard{
  padding: 8px;
  border: 1px solid white;
  border-radius: 10px;
  width: 80px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailCard > span:first-child{
  font-size: 12px;
}

.charater_equipement_button, .item_button{
  margin: 0px !important;
  border-radius: 0px !important;
  background-color: #333333 !important;
  color: white !important;
  border-top: 1px solid white;
}

.changeView{
  display: flex;
}

.changeView div{
  background-position: center;
  background-color: black;
  height: 32px;
  width: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #52514A;
  margin-left: 5px;
}

.changeView div:hover{
  cursor: url('img/icon/pointer.png'), auto;	
  background-color: #262626;
}


.loading_character_equipment{
  height: 150px;
}

.row_invetory{
  display: flex;
  flex-wrap: wrap;
}

.row_invetory{
 margin-bottom: 25px;
}



.row_invetory td:hover{
  cursor: url('img/icon/pointer.png'), auto;	
}

.table_bags{
  display: flex !important;
  flex-wrap: wrap;
  width: 100% !important;
}

.table_bags tr{
  display: flex;
  flex-wrap: wrap;
}


.Junk{
  border: 1px solid #AAAAAA !important;
}

.Junk_text{
  color: #AAAAAA;
}

.Basic{
  border: 1px solid white !important;
}

.Basic_text{
  color: white;
}

.Fine{
  border: 1.5px solid #62A4DA !important;
}

.Fine_text{
  color: #62A4DA;
}

.Masterwork{
  border: 1px solid #1A9306 !important;
}

.Masterwork_text{
  color: #1A9306;
}

.Rare{
  border: 1px solid #FDD90B !important;
}

.Rare_text{
  color: #FDD90B;
}

.Exotic{
  border: 1px solid #FFA405 !important;
}

.Exotic_text{
  color: #FFA405
}

.Ascended{
  border: 1px solid #FC3E8D !important;
}

.Ascended_text{
  color: #FC3E8D;
}

.Legendary{
  border: 1px solid #4C139D !important;
}

.Legendary_text{
  color: #4C139D;
}

.meta{
  margin-bottom: 30px;
  text-align: left;
  width: 98%;
}

.meta-section{
  width: 100%;
  overflow-y: auto;
}

.bar {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 5px;
}

.bar .phase{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.bar .phase:first-child{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.bar .phase:last-child{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.phase {
  padding: 0.5rem;
  margin: 0 .125rem;
  overflow: hidden;
}

.meta-name {
  font-weight: 800;
  margin: 0 0 0.25rem;
  font-size: 1.3em;
}


.phase-name {
  font-weight: 800;
  word-break: break-all;
}

.basedPage{
  margin-top: 25px;
}

.pointer {
  position: absolute;
  height: 100%;
  border-left: 2px solid #c62828;
  z-index: 400;
  top: 0;
  transition: left 1s ease-in-out;
  color: #ffffff;

}
.pointer > span {
  position: absolute;
  padding: 0.25rem 0.375rem;
}
.pointer > span strong {
  position: absolute;
  top: 1.75rem;
  font-weight: 800;
  color: #333333;
  width: 10rem;
  text-align: left;
}
.pointer > span.server {
  left: 0;
  background-color: #c62828;
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}
.pointer > span.server strong {
  left: 0.375rem;
}
.pointer > span.local {
  right: 0.125rem;
  background-color: #efefef;
  color: #333333;
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}
.pointer > span.local strong {
  right: 0.375rem;
  text-align: right;
}

.category_name{
  padding: 0.2em;
  background: rgba(185, 177, 177, 0.5);
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 25px;
  color: white;
}

.not_first_category{
 margin-top: 5%;
}


tr:has(> .in_progress){
  background-color: #C0392B;
}

.in_progress{
  color: white ;
}

.wrapper{
 display: flex;
 flex-direction: column;
 align-items: center;
 width: 100%;
 max-height: 100%;
 overflow-y: auto;
}

.bank_title{
  font-weight: bold;
  font-size: 25px;
}


.bank_table td{
  width: 55px;
  height: 55px;
  border: 1px
}


.currencies{
  animation-name: fadeInOpacity;
  /* animation-iteration-count: 1; */
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

.currencies div{
  color: white;
  display: flex;
}

.currencies > div{
 justify-content: space-between;
}

.count_currency > div{
  width: 20px;
  height: 20px;
  background-size: cover;
}

.currency_name{
  max-width: 75%;
  word-break: break-word;
}

.count_currency > span{
  padding-right: 5px;
}

.currency_info:not(:first-child){
  margin-top: 10px;
}

.count_gold{
  display: flex;
}

.count_gold div{
  width: 20px;
  height: 20px;
  background-size: cover;
  margin-left: 3px;
}

.count_gold > div:not(:last-child){
  margin-right: 3px;
}


.settings{
  position: fixed;
  right: 15px;
  top: 10px;
  z-index: 10;
  font-size: 35px !important;
  z-index: 9999;
}

.settings:hover{
  cursor: url('img/icon/pointer.png'), auto;	
  animation: swing ease-in-out 0.5s 1 alternate;

}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.key_form > form{
  width: 100%;
}

.list_permissions{
  display: flex;
  flex-wrap: wrap;
}

.list_permissions > span{
  padding: 8px;
  color: #808080;
}

.list_permissions svg{
  font-size: 18px;
}

.formApiKey{
  display: flex;
  flex-direction: column;
}

.defaultColor .modal-content{
  background-color: white;;
}

.darkColor .modal-content{
  background-color: #333333;
  color: white;
}

.darkColor input, .darkColor select, .darkColor span, .darkColor label{
  color: white;
}

.darkColor option{
  color: black;
}


.darkColorButton{
  background-color: white !important;
}

.darkColorButton:hover{
  background-color: white !important;
  color: #333333 !important;
}

.blackColor strong, .blackColorSpan {
  color: black !important;
}

.whiteColor strong, .whiteColorSpan{
  color: white !important;
}




.trading_table table{
  width: 100%;
}


.trading_table table tr:nth-child(2n){
  background-color: rgba(0,0,0,0) !important;
  color: white !important;
}

.trading_table table tr:nth-child(2n+1){
  background-color: rgba(0,0,0,0.2) !important;
  color: white !important;
}

.p-datatable.p-datatable-gridlines .p-datatable-tbody > tr > td{
  border-width: 0px !important;
}

.trading_section{
  margin-bottom: 80px;
  margin-top: 50px;
}

.trading_table  tr{
  border-bottom: 1px solid #EAECEE;
}

.trading_table  td{
  text-align: left;
}

.default .rdt_Pagination, .default .bank_title, .default .trading{
  color: black;
}


.dark .rdt_Pagination, .dark span{
  color: white;
}

.dark svg{
  fill: white;
}


.trading_item > div{
  width: 45px;
  height: 45px;
  margin: 5px 15px 5px 0px;
  background-size: cover;
  padding: 20px;
}

.count_gold_price{
  display: flex;
}

.count_gold_price > div:not(:last-child){
  margin-right: 3px;
}

.trading_item{
  display: flex;
  align-items: center;
}

.gold_number{
  display: flex;
  color: white;
  align-items: center;
}

.gold_number div{
  width: 15px;
  height: 15px;
  background-size: cover;
  margin-left: 3px;
} 

.search_post_trading{
  padding: 5px;
  outline: none;
  
}


.rdt_Pagination{
  background-color: transparent !important;
}




.rdt_TableBody{
  overflow-y: auto;
}



.detail_item  span{
  color: #00FF00;
}

.detail_item{
  font-size: 1.2em;
}

.description_item{
  font-size: 0.8em;
}

.leaflet-container{
  width: 100%;
  height: 100%;
}

.interactiveMap{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hideElement{
  display: none;
}

.showElement{
  display: block !important;
}

.labal_map{
  fill: white !important;
  vertical-align: middle;
  text-shadow: black 0.1em 0.1em 0.2em
}

.fullScreen{
  position: absolute;
  left: 12px;
  top: 75px;
  background: white;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.fullScreen:hover{
  cursor: url('img/icon/pointer.png'), auto;
  background: #F4F4F4;
}

.map{
  fill: transparent;
  stroke: transparent;
  stroke-width: 1px;
}


.leaflet-marker-icon{
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.tyriaArrow:hover, .desertArrow:hover, .canthaArrow:hover, .maguumaArrow:hover{
  cursor: url('img/icon/pointer.png'), auto;
}

.mapInfo{
  z-index: 999;
  position: absolute;
  top: 110px;
  left: 12px;
  width: 30px;
  border-radius: 2px;

}

.mapInfo button{
  width: 30.5px;
  height: 30px;
  border-radius: 2px;
  background: white;
  border: none;
}

.leaflet-control .show,
.mapInfo button:active, 
.mapInfo button:hover, 
.mapInfo button:focus{
  background: #f4f4f4 !important;
  cursor: url('img/icon/pointer.png'), auto !important;
}

.leaflet-control-zoom-in:hover, .leaflet-control-zoom-out:hover{
  cursor: url('img/icon/pointer.png'), auto !important;
}


.mapInfo button:after{
  color: #262626;
  display: none;
}


.mapInfo img{
  width: 18px;
}

.mapInfo span{
  color: black;
  margin-left: 8px;
  font-size: 1em;
}

.iconDetailMap{
  position: absolute;
  color: black;
  right: 2px;
  top: 4px;
  font-size: 22px;
}

.dropdown-menu{
  animation-duration: 0.8s;
  animation-name:slidein-low;
}

@keyframes slidein-low  {
  from {
     left:-50px;
  }
  
  to {
     left:0px;
  }

}


.rdt_TableCol_Sortable:hover, .clearIcon:hover, select:hover{
  cursor: url('img/icon/pointer.png'), auto;
}


.leaflet-control > a span,
.leaflet-control svg{
  color: black;
}

.leaflet-popup-close-button > span{
  color: #333333;
}

.item_info:hover, .closeModal:hover{
  cursor: url('img/icon/pointer.png'), auto;
}

.closeModal{
  position: absolute;
  fill: white !important;
  z-index: 1;
  right: 5px;
  top: 5px;
}

.closeModalCharacter{
  position: absolute;
  right: 15px;
  top: 22px;
}

.returnModalCharacter{
  position: absolute;
  left: 15px;
  top: 22px;
}

.closeModalCharacter:hover, .returnModalCharacter:hover{
  cursor: url('img/icon/pointer.png'), auto;
}

.modal_item{
  border-radius: 5px;
  border: 1px solid #353535;
  height: auto;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item_name{
  width: 100%;
  display: flex;
  align-items: center;
  height: fit-content;
}

.item_name > div{
  width: 45px;
  height: 45px;
  background-size: contain;
  padding: 20px;
}

.item_name > span{
  margin-left: 15px;
}

.item_attributes, .item_defense > span, .item_power > span{
  color: #00FE00;
}

.item_defense, .item_power{
  color: white;
}

.item_description{
  color: white;
  font-style: italic;
}

.item_details_type, .item_specification{
  color: white;
  display: flex;
  flex-direction: column;
}

.item_details_type{
  margin-top: 25px;
}

.item_type{
  color: #878787;
}

.item_value{
  display: flex;
  align-items: center;
}

.p-button-icon-only{
  display: none;
}

.p-button-label, .p-button-icon {
  color: #6366F1 !important;
}

.p-paginator-icon,
 .p-inputtext, .p-dropdown-trigger-icon{
  color: #343a40 !important;
}

@media screen and (max-width: 900px) {
  .p-column-title{
    color: white !important;
  }
}

@media screen and (min-width: 899px) {
  .p-column-title{
    color: #343a40 !important;
  }
}

.trading_item > p{
  margin: 0px;
}

.p-inputtext{
  box-shadow: none !important;
}

.p-button-outlined, .p-dropdown{
  box-shadow: none !important;
}

.bossKilled{
  background-color: #145A32;
}

.loaderModal .modal-content{
  border: none !important;
}




